@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  background-color: #75D8C8;
  text-align: center;
  color: #232323;
}

.MainScreen {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.container, .listitemcontainer {
  width: 100%;
}

.btn {
  border-radius: 28px;
  box-shadow: 0px 4px 0px #8a2d79;
  font-family: 'Dosis', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #ce5dcf;
  padding: 10px 20px 10px 20px;
  border: solid #ce5dcf 0px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background: #b53bb6;
  /*background: #efacfe;*/
  text-decoration: none;
  box-shadow: 0px 4px 0px #641556;
}

.btn-delete {
  border-radius: 28px;
  box-shadow: 0px 3px 0px #c76ab6;
  font-family: 'Dosis', sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #fa7aae;
  padding: 5px 10px 5px 10px;
  border: solid #f21359 0px;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 20px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.btn-delete:hover {
  background: #f21359;
  box-shadow: 0px 3px 0px #8a2d79;
  text-decoration: none;
}

.btn-cancel {
  border-radius: 28px;
  box-shadow: 0px 4px 0px #c44c81;
  font-family: 'Dosis', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #fa7aae;
  padding: 10px 20px 10px 20px;
  border: solid #fa7aae 0px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: 10px;
}

.btn-cancel:hover {
  background: #f21359;
  box-shadow: 0px 4px 0px #8a2d79;
  text-decoration: none;
}

.earningscontainer, .settaskcontainer, .setsupergoalcontainer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background: #2f9e9c;
  border-radius: 20px;
  padding: 3%;
  color: #ffffff;
  /*flex-grow: 1;*/
  margin-top: 20px;
  box-sizing: border-box;
}

.updatesupergoalcontainer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background: #0a7a78;
  border-radius: 20px;
  padding: 3%;
  color: #ffffff;
  /*flex-grow: 1;*/
  margin-top: 20px;
  box-sizing: border-box;
}

.setTask {
  margin-top: 10px;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  /*flex-grow: 1;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #ffffff;
  width: 80%;
  box-shadow: 3px 3px 8px #515e5c66;
}

.moneybag-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #e9e9e9;
  width: 80%;
}

@keyframes size {
  0%, 100% {
    width: 10vw;
  }
  50% {
    width: 11vw;
  }
}

.moneybag {
  border-radius: 90%;
  font-family: 'Dosis', sans-serif;
  color: #353535;
  font-size: 18px;
  font-weight: 700;
  background: #f4b281;
  padding: 20px;
  border: solid #f4b281 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 0;
}

.moneybag-add {
  border-radius: 90%;
  font-family: 'Dosis', sans-serif;
  color: #353535;
  font-size: 18px;
  font-weight: 700;
  background: #f4b281;
  padding: 20px;
  border: solid #f4b281 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 0;
  animation:
    size 0.4s ease-in-out;
}

.moneybag-top {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 60px solid #f4b281;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  margin-top: 8px;
}

.moneybag-heading {
  font-size: 18px;
  margin-top: 10px;
  color: #ce5dcf;
}

.valueOfTask {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.countingDone {
  margin: 0;
}

.boldtext {
  font-weight: 700;
}

.bolditalictext {
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
}

.changeGoal {
  border-radius: 28px;
  box-shadow: 0px 4px 0px #7f2900;
  font-family: 'Dosis', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #ff9e23;
  padding: 10px 20px 10px 20px;
  border: solid #ff9e23 0px;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 200px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  }

.changeGoal:hover {
  background:#ee8502;
  /*background: #efacfe;*/
  text-decoration: none;
  box-shadow: 0px 4px 0px #7f2900;
}

h1 {
  font-size: 48px;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0 10px 0;
}

h4 {
  font-size: 20px;
  margin: 5px;
}

label, p {
  font-size: 17px;
  line-height: 20px;
}

#superNameKey, #valueKey {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 5px;
}

input {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  width: 180px;
  margin: 7px 5px 15px 0;
  background-color: #ffffff;
}

select {
  background: #ce5dcf;
  color: #ffffff;
  font-family: 'Dosis', sans-serif;
  margin: 5px 0 15px 7px;
  width: 36px;
}

@media (min-width: 481px) {
  .MainScreen {
    /*flex-grow: 1;*/
  }

  .taskContainer {
    box-sizing: content-box;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .listitemcontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .earningscontainer, .settaskcontainer {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    background: #2f9e9c;
    border-radius: 20px;
    padding: 2%;
    color: #ffffff;
  }

  .setTask {
    margin-top: 5px;
  }
}
