header {
  width: 100%;
  background-color: #2f9e9c;
  margin-bottom: 20px;
}

header .textholder {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  color: #8a2d79;
  letter-spacing: 2px;
  font-size: 22px;
  opacity: 0.9;
  margin-left: 10px;
  margin-right: 10px;
}

header .icon {
  width: 20px;
  height: 20px;
  background-image: url("star.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
}
